device: cuda
training:
  kfolds: 1
  batch_size: 38
  num_epochs: 512
  num_workers: 0
  accumulation_steps: 1
  learning_rate: 0.00001071
  test_frac: 0.2
  early_stopping_patience: 32
  pretrained_model_name: FNOwR_bump_20240907_122500
  clip_grad_value: 1
  weight_decay: 0.001
model:
  name: FNOwR_noise
  architecture: FNOwRnet
  class_name: FNOnet
  n_layers: 4
  n_modes_x: 200
  n_modes_y: 5
  hidden_channels: 32
  lifting_channels: 32
  projection_channels: 128
data:
  file_name: data/noise.hdf5
  normalize:
    - true
    - false
  numpoints_x: 401
  numpoints_y: 11
  variables:
    - F
    - H
    - Q
    - S
    - U
    - V
  variable_units:
    - dimensionless
    - m
    - m3s-1
    - m
    - ms-1
    - ms-1
  parameters:
    - H0
    - Q0
    - SLOPE
    - 'n'
seed: 43
logging:
  use_wandb: true
  plot_enabled: false
optuna:
  study_name: study2
  n_trials: 200
  base_storage_path: 'sqlite:///studies/'
  hyperparameter_space:
    learning_rate:
      type: float
      low: 0.000001
      high: 0.001
      log: true
    weight_decay:
      type: float
      low: 0
      high: 0.005
      log: false
    batch_size:
      type: categorical
      choices:
        - 8
        - 16
        - 32
        - 64
        - 128
        - 256
        - 512
    accumulation_steps:
      type: int
      low: 1
      high: 1
    n_layers:
      type: int
      low: 1
      high: 16
    n_modes_x:
      type: int
      low: 1
      high: 200
    n_modes_y:
      type: int
      low: 1
      high: 200
    hidden_channels:
      type: int
      low: 1
      high: 256
    lifting_channels:
      type: int
      low: 1
      high: 256
    projection_channels:
      type: int
      low: 1
      high: 256
api_keys:
  wandb: '${WANDB_API_KEY}'
