device: cuda
training:
  kfolds: 1
  batch_size: 8
  num_epochs: 256
  num_workers: 0
  accumulation_steps: 1
  learning_rate: 0.00002586397472413228
  test_frac: 0.2
  early_stopping_patience: 32
  pretrained_model_name: 
  clip_grad_value: 1
  weight_decay: 0.002813124652123972
  lambda_physics: 0.5
  time_limit: 86400
model:
  name: FNO_bars
  architecture: FNOnet
  class_name: FNOnet
  n_layers: 5
  n_modes_x: 88
  n_modes_y: 10
  hidden_channels: 40
  lifting_channels: 20
  projection_channels: 20
data:
  file_name: data/bars.hdf5
  normalize_input: true
  normalize_output: false
  numpoints_x: 401
  numpoints_y: 11
  preload: true
  inputs:
    - H0
    - Q0
    - SLOPE
    - n
    # - F
    # - H
    # - Q
    # - S
    # - U
    # - V
    - B
  outputs:
    # - H0
    # - Q0
    # - SLOPE
    # - n
    - F
    - H
    - Q
    - S
    - U
    - V
    - B
  scalars:
    - H0
    - Q0
    - SLOPE
    - n
    - direction
    - id
    - subcritical
    - yc
    - yn
  non_scalars:
    - BOTTOM
    - B
    - F
    - H
    - Q
    - S
    - U
    - V
seed: 43
logging:
  use_wandb: true
  plot_enabled: false
  save_dir: 'plots'
optuna:
  study_name: study17
  n_trials: 200
  base_storage_path: 'sqlite:///studies/'
  hyperparameter_space:
    learning_rate:
      type: float
      low: 0.000001
      high: 0.001
      log: true
    weight_decay:
      type: float
      low: 0
      high: 0.005
      log: false
    lambda_physics:
      type: float
      low: 0
      high: 1
      log: false
    batch_size:
      type: categorical
      choices:
        - 8
        - 16
        - 32
        - 64
        - 128
        - 256
        - 512
        - 1024
    accumulation_steps:
      type: int
      low: 1
      high: 1
    n_layers:
      type: int
      low: 1
      high: 16
    n_modes_x:
      type: int
      low: 1
      high: "${data.numpoints_x}"
    n_modes_y:
      type: int
      low: 1
      high: "${data.numpoints_y}"
    hidden_channels:
      type: int
      low: 1
      high: 256
    lifting_channels:
      type: int
      low: 1
      high: 256
    projection_channels:
      type: int
      low: 1
      high: 256
api_keys:
  wandb: '${WANDB_API_KEY}'
