*.cas
*.slf
*.txt
*.jpg
*.png
*.pdf
*.pptx
*.indd
*.ai
*.7z
*.zip
*.tar.gz
*.log
*.pyc
*.psd
*.indd
*.svg
*.idlk
*.hdf5
*.pth
*.env
*.gif
*.mp4
*.db
*.db-journal
*.csv
*.xlsx
*.ipynb
.ipynb_checkpoints/
blender/*
ML/studies
ML/runs/*
ML/runs.old/*
ML/wandb/*
ML/metrics
fno_channel_flow.egg-info/*
/savepoints/
/studies/
/plots/
/logs/
/data/
website/
wandb/*
Articulos/*
ML/data/*
**/__pycache__/
*steering*/
*checkpoint*
*sync-conflict*
