*.cas
*.slf
*.txt
*.jpg
*.png
*.pdf
*.pptx
*.indd
*.ai
*.7z
*.zip
*.tar.gz
*.log
*.pyc
*.psd
*.indd
*.svg
*.idlk
*.hdf5
*.pth
ML/runs/*
ML/runs.old/*
ML/wandb/*
*steering*/
*checkpoint*
*sync-conflict*
