*.cas
*.slf
*.txt
*.jpg
*.png
*.pdf
*.pptx
*.indd
*.ai
*.7z
*.zip
*.tar.gz
*.log
*.pyc
*.psd
*.indd
*.svg
*.idlk
*.hdf5
*.pth
*.env
*.gif
*.mp4
*.db
*.db-journal
*.csv
*.xlsx
*.ipynb
.ipynb_checkpoints/
blender/*
src/ML/studies
src/ML/runs/*
src/ML/runs.old/*
src/ML/wandb/*
src/ML/metrics
src/tesis_fno_surrogate.egg-info
fno_channel_flow.egg-info/*
src/savepoints/
/studies/
/plots/
/logs/
/data/
src/website/
wandb/*
Articulos/*
ML/data/*
**/__pycache__/
*steering*/
*checkpoint*
*sync-conflict*
