alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1737358504394/work
annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
asciitree==0.3.3
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
black==24.10.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cmap @ file:///home/conda/feedstock_root/build_artifacts/cmap_1742084873554/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
colorlog @ file:///D:/bld/colorlog_1733258429376/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
configmypy==0.2.0
contourpy @ file:///D:/bld/contourpy_1731428338786/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
docker-pycreds==0.4.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fasteners==0.19
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flaky==3.8.1
fonttools==4.55.1
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///C:/ci_311/gmpy2_1677743390134/work
greenlet @ file:///D:/bld/greenlet_1734532814363/work
h5py==3.12.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
iniconfig==2.0.0
ipykernel @ file:///C:/b/abs_5etv6sld_j/croot/ipykernel_1728665608850/work
ipython @ file:///C:/b/abs_53it5seiim/croot/ipython_1726064251844/work
ipywidgets @ file:///C:/b/abs_25rsd7yhd4/croot/ipywidgets_1709575117021/work
jedi @ file:///C:/b/abs_1b8kmj7rrm/croot/jedi_1721058359741/work
Jinja2 @ file:///C:/b/abs_ddyeze2h6_/croot/jinja2_1730903330414/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jupyter_client @ file:///C:/b/abs_a6h3c8hfdq/croot/jupyter_client_1699455939372/work
jupyter_core @ file:///C:/b/abs_beftpbuevw/croot/jupyter_core_1718818307097/work
jupyterlab-widgets @ file:///C:/b/abs_62picw9xos/croot/jupyterlab_widgets_1709323131962/work
kiwisolver @ file:///D:/bld/kiwisolver_1725459295513/work
loguru @ file:///C:/b/abs_10xzug4jqd/croot/loguru_1729800318535/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1738719574846/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.10.1
matplotlib-inline @ file:///C:/ci_311/matplotlib-inline_1676425798036/work
mkl-service==2.4.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
munkres==1.1.4
mypy-extensions==1.0.0
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx @ file:///C:/b/abs_3bxnu56g9d/croot/networkx_1717597507456/work
-e git+https://github.com/NeuralOperator/neuraloperator@a9e63cbc859e7c5f01d82c4c1510b801f0211590#egg=neuraloperator
numcodecs==0.14.1
numpy==1.24.4
opt_einsum==3.4.0
optuna @ file:///home/conda/feedstock_root/build_artifacts/optuna_1739496942095/work
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas @ file:///D:/bld/pandas_1726878554493/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathspec==0.12.1
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
pluggy==1.5.0
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
protobuf==5.29.0
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pydantic @ file:///C:/b/abs_b7acb4hnl_/croot/pydantic_1725040540545/work
pydantic_core @ file:///C:/b/abs_3ax4s6v28p/croot/pydantic-core_1724790490828/work
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
PySide6==6.7.2
pytest==8.3.4
pytest-mock==3.14.0
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pywin32==305.1
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
scikit-learn @ file:///D:/bld/scikit-learn_1736496780928/work/dist/scikit_learn-1.6.1-cp311-cp311-win_amd64.whl#sha256=b8f37c282c66c737a09228918d0bfcadafb9f1d4bfb1dc6289040870d453703b
scipy==1.14.1
sentry-sdk==2.19.0
setproctitle==1.3.4
shiboken6==6.7.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
SQLAlchemy @ file:///D:/bld/sqlalchemy_1743109469641/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy==1.13.1
tensorly==0.9.0
tensorly-torch==0.5.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
torch==2.5.1
torch_harmonics==0.7.4
torchaudio @ file:///C:/b/abs_4cyc0hwr__/croot/torchaudio_1739894496063/work
torcheval==0.0.7
tornado @ file:///C:/b/abs_7bua0304mj/croot/tornado_1718740122405/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///D:/bld/unicodedata2_1736692523011/work
urllib3==2.3.0
wandb==0.18.7
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
widgetsnbextension @ file:///C:/b/abs_a84ycxud7_/croot/widgetsnbextension_1709322945280/work
win32-setctime @ file:///home/tkoch/Workspace/win32_setctime/win32_setctime_1643630045199/work
zarr==2.18.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
