# .github/workflows/ci.yml

name: Python Project CI

on:
  push:
    branches: [ main, refactor ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yml
          channel-priority: 'flexible'
          use-mamba: 'true'
          mamba-version: '*'
          cache-env: true

      - name: Lint and Format Check
        shell: bash -l {0}
        run: |
          # The correct pre-commit version is now installed via environment.yml
          # This command will use the same hook versions as your local machine
          pre-commit run --all-files

      - name: Run Pytest
        shell: bash -l {0}
        run: pytest
